#gameContainer {
    width: 100vw;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    font-size: 40px;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
}

.scoreContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 1200px;

    /* border: solid;
    border-width: 3px; */
    color: black;
    height: auto;
    margin: 10vh 0px 60px 0px;
    padding: 30px 0px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 16px 10px rgba(163,163,163,0.24); 
    box-shadow: 0px 0px 16px 10px rgba(163,163,163,0.24);
}

.scoreContainer > p {
    font-size: 0.75em;
    margin-bottom: 0px;
    /* font-weight: bold; */
}


.scoreContainer > * {
    margin-right: 20px;
}

.scoreContainer > p:first-child, .scoreContainer > button {
    margin-right: 10px;
}

.scoreContainer > button:last-child {
    margin-right: 0px;
}

/* .scoreContainer > button {
    height: 35px;
    line-height: auto;
} */

.hangmanContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0px 0px 10vh 0px;
    min-height: 80vh;
    width: 80%;
    max-width: 1200px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 16px 10px rgba(163,163,163,0.24); 
    box-shadow: 0px 0px 16px 10px rgba(163,163,163,0.24);
}

.hangmanContainer > h1 {
    margin-top: 40px;
    font-size: 1em;
}

#gameImage {
    margin-top: 40px;
    height: 400px;
}

#wordContainer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    height: auto;
    /* background-color: yellow; */
    font-size: 0.85em;
    max-width: 80%;
    flex-wrap: wrap;

}

#wordContainer > div {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    margin: 10px;
} 

.incorrectLetter {
    border-bottom: solid;
    border-width: 3px;
    border-color: black;
}

.letterContainer {
    display: flex;
    justify-content: center;
    width: 80%;
    flex-wrap: wrap;
    margin: 30px 0px 40px 0px;
}

.letterContainer > button {
    margin: 10px;
    /* background-color: rgb(54,9,9);
    border-color: rgb(54,9,9); */

}