h1 {
    padding:20px 0px;
    text-align: center;
}

h3 {
    text-align: center;
    background-color: #DCEBF5;
    margin-bottom: 10px !important;
    padding: 5px;
    border-radius: 15px;
}

p {
    font-size: 20px;
    text-align: center;
    /* border-bottom: solid;
    border-width: 2px;
    border-color: #a3a3a3; */
}

#backgroundColor {
    background-color:#f5f5f5;
    min-height: calc(100vh - 56px);
    padding: 40px 0px;
    
    
}

.container {
    margin-bottom: 40px;
    background-color: rgb(32, 190, 143);
    -webkit-box-shadow: 0px 0px 16px 10px rgba(163,163,163,0.24); 
    box-shadow: 0px 0px 16px 10px rgba(163,163,163,0.24);
    
}

#yourHighscore {
    width: 60%;
    border-radius: 15px;
}

#leaderboard {
    width: 60%;
    border-radius: 15px;
}



