#inputArea {
    display: flex;
    justify-content: center;
}

body {
  background-color: rgb(39, 39, 39);
}

#descript {
  text-align: center;
  width: 1000px;
  margin-left: 25%;
  margin-bottom: 40px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* .container-fluid {
  background-color:  rgb(29, 66, 134);
  z-index: 1;
  left: 2
} */

#status {
    position: relative;
    float: right;
}

#updateStatus{
  color: white;
}
  
.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}