#inputArea{
    display: flex;
    justify-content: center;
}

body{
  background-color: rgb(231, 231, 231);
  
}
.container-fluid{
  background-color:  rgb(32, 190, 143);
  
  z-index: 1;
  left: 2
}

/* #imgBK{
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 250px;
  z-index: 2;
  opacity: .5;
} 

#zIndex{
  z-index: 100;
  
} */

#status{
    position: relative;
    float: right;
}

.material-icons{
    font-size: 24px;
    color: purple
}
  
.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}