.container{
    display: flex;
    justify-content: center;
    padding:150px;
    padding-top: 90px;

}
body{
    background-image: url('../images/background/hangdOutLogin.jpg');
    background-repeat:no-repeat;
    background-size:cover;
}
.card{
    border-radius: 12px;
    background-color: rgb(0, 0, 0);
    padding:30px;
    box-shadow:  10px 8px 10px #ffdc68;
    opacity: 0.85;
}

#floatingInput{
    border-radius: 12px;
}

p{
    font-size: 20px;
    color: white
}
h1{
    font-family: 'Monofett', cursive;
    font-size: 84px;
    color:rgb(230, 183, 55);
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 20px;
    text-shadow: 2px 2px black;
}